<ion-view title="Get Valuation" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="getValuation-form3" class="list">
      <label class="item item-input" id="getValuation-input4" name="address">
        <input type="text" placeholder="Enter Address">
      </label>
      <label class="item item-input" id="getValuation-input9" name="city">
        <input type="text" placeholder="Enter City">
      </label>
      <label class="item item-input" id="getValuation-input10" name="state">
        <input type="text" placeholder="Enter State">
      </label>
      <label class="item item-input" id="getValuation-input11" name="zip">
        <input type="text" placeholder="Enter Zip Code">
      </label>
    </form>
    <div id="getValuation-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">No valuation requested.</p>
    </div>
    <button id="getValuation-button13" style="font-weight:500;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Submit</button>
  </ion-content>
</ion-view>