<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input12" name="username">
          <input type="text" placeholder="Enter Username">
        </label>
        <label class="item item-input" id="login-input13" name="password">
          <input type="password" placeholder="Enter Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button14" style="font-weight:500;border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Log in</button>
      <a href-inappbrowser="/signup" id="login-button15" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>