<ion-view title="" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page1-form2" class="list">
      <label class="item item-input" id="page1-input1" name="budget-number">
        <input type="text" placeholder="Enter budget number">
      </label>
    </form>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.last.fm/user/writepython">
        <img src="img/SH7nFYI7ScGnxBTzdvWJ_16.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h3 style="text-align:center;">Do you like this image?</h3>
    <div id="page1-button-bar2" class="button-bar">
      <a href-inappbrowser="https://github.com/writepython" id="page1-button14" style="font-weight:600;color:#FFFFFF;border-radius:30px 30px 30px 30px;" class="button button-stable button-block">No</a>
      <a href-inappbrowser="https://www.last.fm/user/writepython" id="page1-button13" style="font-weight:600;color:#FFFFFF;border-radius:30px 30px 30px 30px;" class="button button-dark button-block">Yes</a>
    </div>
  </ion-content>
</ion-view>